<article class="media" style="margin:0 auto;">
  <div class="media-content">
    <video class="video" #video>
    </video>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="button is-info" (click)="startRecording()">Record</a>
        </div>
      </div>
      <div class="level-right">
        <!--<div class="level-item">
            <a class="button is-info" (click)="download()">Download</a>
        </div>-->
        <!--<div class="level-item">
          <a class="button is-info" (click)="stopRecording()">Stop</a>
        </div>
        -->
      </div>
    </nav>
  </div>
</article>
