.holder {
  max-width: 500px;
  margin: auto;
}
.image-holder {
  max-width: 100%;
  position: relative;
}
.image-effect {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: auto;
}
